PORT=
NODE_ENV=

# PostgreSQL
POSTGRES_USER= 
POSTGRES_PASSWORD= 
POSTGRES_DB= 
POSTGRES_PORT= 
DB_URL=postgresql://<POSTGRES_USER>:<POSTGRES_PASSWORD>@localhost:<POSTGRES_PORT>/<POSTGRES_DB>

# Redis
REDIS_PASSWORD= 
REDIS_PORT= 

# RabbitMQ
RABBITMQ_USER= 
RABBITMQ_PASSWORD= 
RABBITMQ_VHOST=
RABBITMQ_PORT=
RABBITMQ_MANAGEMENT_PORT=

WEBHOOK_ENCRYPTION_KEY=
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_EXPIRY_DAYS=
ADMIN_API_KEY_HASH=